*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav{
    background: rgb(44, 44,58);
    padding: 20px 50px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
.list{
    display: flex;
    gap: 50px;
}
.list__link{
    color: white;
    font-size: 20px;
}


